/*
Color Palette
red: #7f0b0b
light gray: #f2f7f6
light blue / teal: #a8dadc
queen blue: #457b9d
navy: #1d3557
gold: #c1a42e
*/

html, body {
	width: 100%;
	height: 100%;
}


.spacer {
	height: 2000px;
	background-color: #f2f7f6;
}

#navigationBar {
	background-color: #1d3557;/* #132339 */
	opacity: 0.8;
	box-shadow: 0px 3px 8px rgba(0, 0, 0, .5);
}

#nav-toggle-button {
	background-color: transparent;
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #f2f7f6;
}


.navbar-inverse .navbar-nav>li>a {
	color: white;
	margin: 25px;
	padding: 0;
	
	font: 400 16px/22px 'Montserrat', sans-serif;
	text-decoration: none !important;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
	background-color: transparent !important;
	color: #c1a42e;
}

/*
#homeBanner {
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover;
	background-color: red;	
}
.parallaxBanner {
    height: 100%;
	width: 100%;
	background: transparent;
}
*/


#bannerContainer {
	width: 100%;
    position: relative;
    left: 50%;
    margin-left: -960px;
	margin-top: -100px;
    z-index: 0;
}

#bannerContainer img {
	display: block;
    margin: 0 auto;
}




#wrapper {
    max-width: 100%;
	max-height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
/*
#wrapper .slides_container {
    width: 100%;
    position: relative;
    left: 50%;
    margin-left: -960px;
    z-index: 0;
}
#wrapper .slide + .slide {
    display: none;
}
#wrapper img {
    display: block;
    margin: 2px auto;
}*/




