/*
Color Palette
red: #7f0b0b
light gray: #f2f7f6
light blue / teal: #a8dadc
queen blue: #457b9d
navy: #1d3557
gold: #c1a42e
*/

/*
green: #1f5255;
red: #7D2835
*/

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

p, h1, h2 {
    margin: 0;
}

#collapse-navbar {
    display: none;
    width: 100%;
    height: 4.6rem;
    background-color: black;
    color: white;
}

.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}

#body-div {
    /*top: 0;
    position: relative;*/
    font-family: 'Roboto', sans-serif;
}

#banner {
    width: 100%;
    height: calc(100% - 4.6rem);
    background-color: gray;
    overflow: hidden;
}

#nav-bar {
    border: 0;
    background-color: #202020;
    border-radius: 0px;
    margin-bottom: 0;
    text-align: center;
    width: 100%;
    height: 4.6rem;
}

#nav-links {
    margin: 0;
}

#nav-links li {
    display: inline-block;
    padding: 1.2rem 1.5rem 1.2rem 1.5rem;
}

.nav-item {
    color: #c9c9c9; /* #3498db */
    text-decoration: none;
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
}

.nav-item:hover {
    color: white;
}

.active {
    color: #d9485e; /* #457b9d */ 
}

.active:hover {
    color: #d9485e;
}

#hamburger-icon, #close-icon {
    display: none;
    color: white;
    font-size: 2.5rem;
    padding: 1rem 0 1rem 0;
}

#hamburger-icon:hover, #close-icon:hover {
    color: #d9485e;
    cursor: pointer;
}




#banner-container {
    width: 100%;
    position: relative;
    left: 50%;
    margin-left: -1000px;
    margin-top: -1000px;
    z-index: 0;
}

#banner-container img {
    display: block;
    margin: 0 auto;
    width: 2400px;
    height: auto;
}

.testing-middle {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 30%;
    font-size: 1.8rem;
}

#banner-wrapper {
    max-width: 100%;
    max-height: calc(100% - 4.6rem);
    margin: 0 auto;
    overflow: hidden;
}


section {
    font-size: 0;
    padding-top: 10rem;
    padding-bottom: 12rem;
    position: relative;
}

.white-background {
    background-color: white;
    z-index: 1;
}


.gray-background {
    background-color: #f2f7f6;
    -webkit-box-shadow: 0px 3px 8px #ab3a4b, 0px -3px 8px #ab3a4b;
            box-shadow: 0px 3px 8px #ab3a4b, 0px -3px 8px #ab3a4b;
    z-index: 2;
}

/*
.red-background {
    background-color: #820a1d;
    color: black;
    -webkit-box-shadow: 0px 3px 8px #ab3a4b, 0px -3px 8px #ab3a4b;
            box-shadow: 0px 4px 8px #ab3a4b, 0px -3px 8px #ab3a4b;
    z-index: 2;
}
*/

.testing-stuff {
    background-color: white;
}

.text-center {
    text-align: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

h1.section-header {
    font-size: 4rem;
    letter-spacing: 0.4rem;
    font-weight: 300;
}

h2.small-header {
    font-size: 2.5rem;
    letter-spacing: 0.4rem;
    font-weight: 400;
    padding-top: 4rem;
    padding-bottom: 1rem;
}

.header-underline {
    width: 10rem;
    height: 2px;
    margin: 2rem 0 2rem 0;
    background-color: #ab3a4b; /* #619e92 */
}

p.section-text {
    font-size: 2.1rem;
    font-weight: 200;
}

ul.skills-list {
    display: inline-block;
    text-align: left;
    padding-inline-start: 0;
    margin-left: auto;
}

li.skills-item {
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
    font-weight: 300;
}

.content-column {
    box-sizing: border-box;
    display: inline-block; /* table-cell */
    vertical-align: top;
    padding-left: 2rem;
    padding-right: 2rem;
}


.col-1-1 {
    display: block !important;
    width: 100%;
}

.col-1-2 {
    width: 50%;
}

.col-1-3 {
    width: 33%;
}

.col-2-3 {
    width: 67%;
}

.col-1-4 {
    width: 25%;
}

.col-3-4 {
    width: 75%;
}


@media(max-width: 768px) {

    /* col-1-2, .col-1-3, .col-2-3 */
    .content-column {
        width: 100%;
    }

/*
    .col-1-4 {
        width: 50%;
    }*/

    .mobile-hide {
        display: none;
    }

    .mobile-center {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

@media(max-width: 550px) {

/*
    #collapse-navbar {
        display: block;
    }

    #nav-bar {
        display: none;
    }*/

    #nav-links {
        background-color: #202020;
        max-height: 0px;
        box-sizing: border-box;
        overflow: hidden;
        -webkit-transition: max-height 0.5s ease-in-out;
           -moz-transition: max-height 0.5s ease-in-out;
                transition: max-height 0.5s ease-in-out;
        padding-left: 0;
    }

    #nav-links li {
        display: block;
    }

    #hamburger-icon {
        display: block;
    }

    #banner-wrapper {
        max-height: 100%;
    }
}
